.top{
    margin: 50px;
}

.top h2, .top i{
    margin: 0;
    padding: 0;
}

.top h2{
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px;
}

.top i{
    letter-spacing: 1px;
}

.main-cart{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-cart .top-row{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.main-cart .top-row .left, .main-cart .top-row .right{
    display: flex;
    gap:6vw;
    align-items: center;
}

.cart-item .left .img{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.desc{
    text-align: left;
    display: flex;
    align-items: center;
}

.desc b{
    overflow: hidden;        
    text-overflow: ellipsis; 
    white-space: nowrap;     
    flex-grow: 1;
}

.right .quantity{
    display: flex;
    gap: 3px;
    align-items: center;
}

.quantity input{
    width: 2vw;
    height: 50%;
    text-align: center;
    color: #242424;
    background-color:  rgb(240, 239, 239);
    border: none;
}

.quantity .qty-controls{
    display: flex;
    gap:5px;
    flex-direction: column;
}

.qty-controls *{
    background-color: black;
    color: white;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item .left{
    display: flex;
    align-items: center;
    gap:10px;
}

.cart-item .right{
    display: flex;
    align-items: center;
    width: 46%;
    justify-content: space-around;
    font-weight: 500;
}

.main-cart .bottom{
    text-align: right;
    padding-right: 7vw;
    margin-top: 0;
    justify-content: flex-end;
}

.main-cart .bottom .tot{
    display: flex;    
    margin-right: 30px;
    gap:5px;
    font-weight: 600;
}
.tot p:nth-child(2){
    color: orange;
}

.form-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.form-item{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    gap:5px;
}

.form-item input, .form-item select{
    color: #242424;
    background-color:  rgb(240, 239, 239);
    border: 1px solid #909090;
    padding: 5px;
    font-size: 1.2rem;
}

.form-item .first, .form-item .last, .form-item .city, .form-item .code{
    display: flex;
    flex-direction: column;
    width: 50%;
} 

.form-container .form-item:nth-child(2), .form-container .form-item:nth-child(5){
    flex-direction: row;
    gap:20px;
}

.form-container .form-item:last-child{
    flex-direction: row;
    justify-content: center;
    text-transform: none;
}

.form-item .card-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap:20px;
}

#payment{
    max-width: 35%;
    margin: 10vh auto;
}

#payment button{
    width: 40%;
    height: 40px;
    margin: 0px auto;
    background-color: orange;
    text-transform: uppercase;
    color: white;
    border: none;
}

.empty-cart{
    background-color: rgb(209, 208, 208);
}
