.sale-container{
    width: 100%;
}
.sale-container .title{
    text-align: center;
    padding: 30px 0px;
    text-transform: capitalize;
}

.sale-container .items-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: auto;
    height: 500px;
    overflow: hidden;
}

.sale-container .items-container .item{
    height: 500px;
}

.sale-container .items-container .item img{
    max-width: 100%;
    object-fit: contain;
}

.sale-container .item .sale{
    position: absolute;
    top:0;
    left: 0;
    width: 70px;
    height: 30px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
